*{ margin: 0; padding: 0; }

.Menu{
    
    border: 10px solid green;
    padding: 0% 6% 0% 6%;
    margin: 10px 50px 10px 50px;
    background-color: white;
    font-size: 1.5em;
}
.Menu h1 {
    font-family: 'Brush Script MT', cursive;
  }

.Nav_Section{
    background-color: Black;
    height: 10%;
}

.Footer_Section{
    background-color: Black;
    height: 15%;
}

.Nav_Bar{
    padding-top: 20px;
}

.MainDisplay{
    background-image: url("StockImages/Cafe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 73.5%;
    width: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.Footer_Section{
    padding-top: 0px;
    margin-top: 0px;
}

ul{
    text-align: right;
    padding-right: 10%;
}

li {
    padding: 30px;
    display: inline-block;
    text-align: right;
    padding-right: 5%;
}

a, h2, p{
    color:white;
}

body{
    margin: 0px 0px 0px 0px;
}

.MainText{
    padding-top:15%;
    text-align: center;
}

h1{
    color:white;
    font-size:50px;
}